/********NORMALIZING MY PAGE*******
**********************************/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  line-height: 1.2rem;
}
/********GENERAL PROPERTIES********
**********************************/
body {
  background: url(./images/bg-tablet-pattern.svg) no-repeat 105% -5%,
    url(./images/bg-tablet-pattern.svg) no-repeat -30% 65%;
  background-size: 50%;
  background-color: rgba(250, 250, 250, 0.849);
}
a {
  text-decoration: none;
}

/********NAVIGATION BAR************
**********************************/
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5% 5%;
}
.get-started {
  border-radius: 20px;
  background-color: rgb(245, 99, 46);
  display: inline-block;
  color: white;
  font-weight: bold;
  padding: 10px;
  transition: all 0.6s ease-in-out;
}
.get-started:hover {
  transform: scale(0.95);
  border: 2px solid rgb(245, 99, 46);
}
nav img {
  width: 100px;
  color: black;
}
nav a {
  color: black;
  margin-right: 30px;
  text-decoration: none;
}
.dropdown {
  display: none;
}
.middle-nav a:hover {
  border-bottom: 2px solid black;
}
/********HEADER********************
**********************************/
header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0% 5%;
}
header img {
  width: 90%;
  animation: headerslideinright 1s ease-in,
    imgheadercolourchange 1s ease-in-out 2s infinite alternate;
}
@keyframes imgheadercolourchange {
  0% {
    background-color: red;
  }
  25% {
    background-color: orange;
  }
  50% {
    background-color: rgb(3, 3, 27);
  }
  100% {
    background-color: white;
  }
}

@keyframes headerslideinright {
  0% {
    transform: translateX(500px);
  }
  100% {
    transform: translateX(0px);
  }
}
.illustration {
  padding-bottom: 2%;
}
.header-left {
  width: 50%;
  animation: headerslideinleft 1s ease-in-out;
}
@keyframes headerslideinleft {
  0% {
    transform: translateX(-500px);
  }
  100% {
    transform: translateX(0px);
  }
}
.header-left h1 {
  font-size: 4rem;
  width: 100%;
  line-height: 4rem;
  font-weight: bold;
  margin-top: 40px;
  margin-bottom: 20px;
}
.header-left p {
  width: 50%;
  margin-bottom: 20px;
  font-size: 0.9rem;
}
/********MAIN**********************
**********************************/
main {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 2%;
  padding: 0% 5%;
}
.main-left {
  width: 50%;
  animation: mainslideinleft 2s ease-in-out;
}
@keyframes mainslideinleft {
  0% {
    transform: translateX(-500px);
  }
  100% {
    transform: translateX(0px);
  }
}
.main-right {
  width: 50%;
  animation: mainslideinright 2s ease-in-out;
}
@keyframes mainslideinright {
  0% {
    transform: translateX(500px);
  }
  100% {
    transform: translateX(0px);
  }
}
.main-left h2 {
  width: 80%;
  font-size: 2rem;
  line-height: 1.8rem;
  margin-bottom: 20px;
}
.main-left p {
  width: 60%;
  line-height: 1.2rem;
}
.main-right h2 {
  margin-bottom: 10px;
}
ol {
  list-style: none;
  counter-reset: ol-list-style;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}
ol li {
  counter-increment: ol-list-style;
  display: flex;
  position: relative;
  margin-bottom: 20px;
  text-align: center;
}
ol li::before {
  content: "0" counter(ol-list-style);
  font-weight: bold;
  margin-right: 10px;
  background: rgb(245, 99, 46);
  position: absolute;
  --size: 45px;
  left: calc(-1 * var(--size) - 10px);
  line-height: var(--size);
  width: var(--size);
  height: var(--size);
  top: 0;
  border-radius: 50%;
  text-align: center;
  box-shadow: 1px 5px 2px rgb(198, 199, 186);
}
h3 {
  margin: 10px 0;
}

/********SECTION**********************
**********************************/
section {
  margin: 0px 5%;
  padding: 0% 5%;
  animation: sectionslideinfrombottom 1s ease-in-out;
}
@keyframes sectionslideinfrombottom {
  0% {
    transform: translateY(500px);
  }
  100% {
    transform: translateY(0px);
  }
}

section h2 {
  text-align: center;
  margin: 10% 0px;
}
li img {
  width: 100px;
  height: 100px;
}
ul {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 50px;
  margin: 10% 0px;
}
ul li {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.section {
  text-align: center;
}
/********ARTICLE**********************
**********************************/
article {
  background-color: rgb(245, 99, 46);
  padding: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5%;
}
article h2 {
  color: white;
  width: 80%;
  line-height: 2rem;
}
.started {
  border-radius: 20px;
  background-color: white;
  color: rgb(245, 99, 46);
  font-weight: bold;
  padding: 10px;
}

/********FOOTER*********************
**********************************/
footer {
  background-color: black;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 2%;
  padding: 5%;
  margin: 0;
}
.one > img {
  width: 100px;
  height: auto;
  margin-bottom: 20px;
}
.col {
  display: flex;
  flex-direction: column;
}
footer a {
  margin-bottom: 5px;
  color: grey;
  display: inline-block;
}

.four {
  display: flex;
  flex-direction: row;
}
footer input {
  height: 40px;
  border-radius: 50px;
  display: inline-block;
  width: 300px;
  text-align: center;
  font-weight: bold;
}
.go {
  background-color: rgb(245, 99, 46);
  border: none;
  color: white;
  text-align: center;
  display: inline-block;
  border-radius: 50%;
  width: 50px;
  height: 40px;
  padding: 10px;
  font-weight: bold;
  font-size: 1.2rem;
  margin-left: 5px;
}

.a a:hover {
  color: rgb(245, 99, 46);
}

/******************MEDIA QUERY***************************/
/* mobile version  */

@media screen and (max-width: 420px) {
  body {
    background: white;
  }

  /* navigation */

  .middle-nav {
    display: none;
  }
  .dropdown {
    overflow: hidden;
    display: inline-block;
  }
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    cursor: pointer;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
  }
  .dropdown-content a:hover {
    background-color: rgb(245, 99, 46);
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .dropdown:hover .dropbtn {
    background-color: rgb(245, 99, 46);
  }

  header,
  main,
  article {
    flex-direction: column;
    text-align: center;
    width: 100%;
  }

  .header-left h1 {
    font-size: 2rem;
    line-height: 2rem;
  }

  .header-left,
  .illustration,
  .main-left,
  .main-right,
  .header-left h1,
  .header-left p,
  .main-left h2,
  .main-left p {
    width: 100%;
    height: auto;
  }

  .get-started {
    margin: 20px 0px;
  }

  .main-right {
    padding: 40px;
  }

  .four,
  section {
    display: none;
  }

  footer {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3 (1fr));
    column-gap: 30px;
    padding: auto;
  }
}
